<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
	     xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	     xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	     http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

      <display-name>Default Web Application</display-name>
      <description>This is the IBM WebSphere Application Server Default Web Application.</description>

      <welcome-file-list id="WelcomeFileList_1">
         <welcome-file>index.html</welcome-file>
      </welcome-file-list>
      <error-page id="ErrorPage_1">
        <error-code>401</error-code>
        <location>/auth_error.jsp</location>
      </error-page>
      <security-constraint id="SecurityConstraint_1">
         <web-resource-collection id="WebResourceCollection_1">
            <web-resource-name>Snoop Servlet</web-resource-name>
            <description>Protection area for Snoop Servlet.</description>
            <url-pattern>/snoop/*</url-pattern>
            <url-pattern>/servlet/SnoopServlet/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
         </web-resource-collection>
         <auth-constraint id="AuthConstraint_1">
            <description>Snoop Servlet Security:+:All Authenticated users for Snoop Servlet.</description>
            <role-name>All Role</role-name>
         </auth-constraint>
         <user-data-constraint id="UserDataConstraint_1">
            <transport-guarantee>NONE</transport-guarantee>
         </user-data-constraint>
      </security-constraint>
      <security-role id="SecurityRole_1">
         <description>All Authenticated Users Role.</description>
         <role-name>All Role</role-name>
      </security-role>
   
</web-app>
